.pagination-heading{
	margin: 2%;
}

.navigation{
	margin: 0 auto;

}

.list-item{
	list-style: none;
}

.tram{
  margin:1%;
  margin-right:4%;
  width:60%;
  background-color:#fcba03;
}

.trol{
  margin:1%;
  margin-right:4%;
  width:60%;

}

.bus{
  margin:1%;
  margin-right:4%;
  width:60%;
  background-color:#e03326;
}

.icon{
	color:#fff;
}

.vehicle-num{
	margin-left:3%;
	float:left;
	font-size:150%;
}

.vehicle-p{
	float:left;
	font-size:150%;
}
